        /* *{
            color: white;
        } */
        /* body{
            background-image: url(coders.jpg)
        }
        .chris{
            backdrop-filter: blur(30px);
            box-sizing: border-box;
            font-size: unset;
            text-transform: capitalize;
            background-color: rgba(0, 0, 0, 0.568);
            width: 70%;
            height: 700px;
            border-radius: 30px;
            padding:.1px;
            
        }
    p{
        margin-top: 50px;
    }
    input{
        border-color: rgba(255, 255, 255, 0);
        outline-style: none;
        width: 220px;
        height: 30px;
        border-radius: 10px;
        padding-bottom: 1px;

    }
    #bak{
        background-image: url(backlogo.jpg);
        background-position: left;
    }
    #blk{
        background-color: black;
        outline-style: none;
        border-color: black;
        width: 150px;
        color: white;
    }
    .frst{
        color: black;
    }
    #fnt{
        color: white;
    }
    #ler{
        background-position: left;
        position:relative;
        bottom: 700px;
    } */


    