body{
    background-image: url("{% static 'Try/images/bkgrnd.gif' %}");
}
    *{
        font-family: cursive;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
    
    .con {
        text-align: center;
        font-size: 11px;
        display: none;
        /* width: 50px; */
    }
    #vari1 {
        display: none;
    }
    #ansbook2 {
        display: none;
    }
    /* .vari1{
        display: block;
    }  */
    .incon2{
        height: 30px;
        width: 150px;
        border-radius: 20px;
        border: none;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .incon3{
        height: 30px;
        width: 150px;
        margin-top: 10px;
        border-radius: 20px;
        border: none;
        margin-bottom: 20px;

    }
    .incon4{
        height: 30px;
        width: 150px;
        border-radius: 20px;
        border: none;
        margin-top: 10px;
        margin-bottom: 20px;

    }
    .incon12{
        height: 30px;
        width: 150px;
        border-radius: 20px;
        border: none;
        margin-top: 10px;
        margin-bottom: 20px;

    }
    .incon5{
        height: 30px;
        width: 150px;
        border-radius: 20px;
        border: none;
        margin-top: 10px;
    }
    #incon1 {
        text-decoration: none;
        color: black;
    }
    /* #option1{
        position: relative;
        left: 200px;
    } */
    input{
        border: none;
        background-color: rgba(32, 32, 36, 0.692);
    }
    
   
    .para{
        font-family: cursive; 
        /* margin-top: 80px; */
        padding-left: 0px;
        font-size: 14px;
        padding-top: 30px;
        /* /* padding: 20px; */
        
    }
    .side{
        margin-top: 50px;
        height: 550px;
        left: 276px;
        width: 60%;
        position: relative;
        bottom: -0.8px;
        border-radius: 40px;
        background-color: #1f1fe26e;
    }
    
    #option{
        background-color: rgba(0, 0, 0, 0.879);
        height: 30px;
        width:250px;
        position: relative;
        top: 140px;
        left: 269px;
        border-radius: 5px;
    }
    .bor{
        height: 10px;
        border-radius: 5px;
        font-weight: bolder;
        color: black;
    }
    .option{
        background-color: rgba(0, 0, 0, 0.757);
        height: 40px;
        width:300px;
        position: relative;
        top: 160px;
        border-radius: 5px;
        left: 249px;
        outline: none;
    }
    .must{
        z-index: -2;
    }
    .color {
        display: block;
        height: 30px;
        width: 150px;
        border-radius: 20px;
        border: none;
        margin-bottom: 20px;
    }
   
    .img2{
        display: none;
    }
    /* #fle{
        display: inline;
    } */
    .sma{
        /* display: block; */
        position:absolute;
        bottom: -400px;
        height: 300px;
        width: 40px;
        z-index: 1;
        /* background-color: green; */
        left: -670px;
    }
    .big {
        height: 500px;
        position: relative;
        left: 26px;
        bottom: -38.5px;
        z-index: -1;
        border-radius: 40px;
        width: 89%;
        background-color: #070501;
        
    }

    /* img {
        height: 45px;
        width: 45px;
        background-color: rgb(255, 255, 255);
    } */
    .img1{
        /* display: block; */
        position: absolute;
        top: 0px;
        height: 657px;
        left: 0px;
        width: 100%;
        background: none;
    }
    #ari{
        color: black;
        /* display: block; */
        background-color: rgb(255, 255, 255);
            height: 30px;
            margin-bottom: 10px;
            width:250px;
            position: relative;
            top: 150px;
            left: 270px;
    }
    #option1{
        display: block;
        background-color: rgba(0, 0, 0, 0.879);
            height: 30px;
            /* margin-bottom: 10px; */
            width:250px;
            position: relative;
            top:160px;
            left: 270px;
            border-radius: 5px;
    }
    #vor, #quad, #option31, #option3 {
        display: none;
    }
   
    #ansbook1 {
        position: relative;
        top: 220px;
        left: -10px;
    }
    @media only screen and (max-width:600px) {
        #ansbook1 {
            position: relative;
            top: 220px;
            left: 50px;

        }
        #option1{
            display: block;
                    display: block;
            background-color: rgba(255, 255, 255, 0);
                height: 30px;
                /* margin-bottom: 10px; */
                width:250px;
                position: relative;
                top:210px;
                left: 70px;
        }
       #ari{
                /* display: block; */
                background-color: rgba(255, 255, 255, 0.848);
                height: 30px;
                margin-bottom: 10px;
                width:250px;
                position: relative;
                top: 200px;
                left: 70px;
        }
        
        *{
            font-size: 12px;
        }
        #ansbook1{
            border: none;
        }
        #ansbook2{
            border: none;
        }
        #vari1{
            display: none;
        }
        #quad{
            display: none;
        } 
        .sma{
            display: block;
            position: relative;
            top: -650px;
            height: 300px;
            width: 40px;
            z-index: 1;
            /* background-color: green; */
            left:-20px;
        }

        
        /* .con{
            width: 653px;
            height:639px; 
            align-items: center;
             border-radius: 30px;
            position: relative;
        } */
        .para {
            font-size: 15px;
        }
        .incon5{
        width: 262px;
        height: 45px;
        /* margin-left: 62px; */
        border-radius: 30px;
        position: relative;
        bottom: -60px;
        /* background-color: #FEAD13; */
        background-color: white;

        border: none;
    }
        .incon12{
        width: 262px;
        height: 45px;
        border-radius: 30px;
        position: relative;
        top: 20px;
        background-color: white;
        border: none; 
        /* margin-left: 62px; */
        /* background-color: #FEAD13; */
        
    }
    .incon2{
        width: 262px;
        /* margin-left: 62px; */
        position: relative;
        border: none;

        top: 30px;
        height: 45px;
        border-radius: 30px;
        /* background-color: #FEAD13; */
        background-color: white;

    }
    .incon3{
        width: 262px;
        position: relative;
        /* margin-left: 62px; */
        bottom: -40px;
        border: none;
        height: 45px;
        border-radius: 30px;
        /* background-color: #FEAD13; */
        background-color: white;

    }
    .big{
        display: none;
    }
    #incon3{
        text-decoration: none;
        color: black;
        
    }
    .incon4{
        width: 262px;
        position: relative;
        border-radius: 30px;
        /* margin-left: 63px; */
        bottom: -50px;
        height: 45px;
        /* background-color: #FEAD13; */
        background-color: white;

        border: none;

    }
 
   
    .side{
        margin-top: 50px;
        height: 580px;
        width: 400px;
        position: relative;
        left: 50px;
        bottom: -0.8px;
        border-radius: 40px;
        background-color: #1647b26e;
    }
    #option{
        background-color: rgba(255, 255, 255, 0);
        height: 30px;
        width:250px;
        position: relative;
        top: 200px;
        left: 69px;
        /* border-radius: 20px; */
    }
    .bor{
        background-color: rgb(255, 255, 255, 0.671);
    }
    .vari{
        background-color: black;
    }
    .nam{
        background-color: black;
    }
    #option:hover {
        border-radius: none;
        background-color: #122a5c46;
    }
    .option{
        background-color: rgb(0, 0, 0);
        height: 40px;
        width:259px;
        position: relative;
        top: 200px;
        left: 69px;
    }
    .img1{
        display: block;
        position: absolute;
        /* top: 20px; */
        height: 640px;
        margin-left: 0px;
        padding: 0px;
        /* left: 10px; */
        width: 99.9%;
        background: none;
    }
    .img2  {
        display: block;
        height: 580px;
        position: relative;
        left: 410px;
        top: -420px;
        width: 920px;
        border-radius: 40px;
        object-fit: cover;
    }
    }
