{% extends 'Try/home.html' %}


{% load static %}



{% block 'sect' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .dd{
        height: 105px;
        width: 40px;
        background-color: white;
        position: absolute;
        left: 30px;
    }
    h1{
        position: relative;
        /* left:90px; */
        /* bottom: 100px; */
        z-index: 2;
    }
</style>
<body>
    
<div class="dd">
    <h1>The final is {{ ans }}</h1>
    
    </div>
</body>
</html>




{% endblock %}