@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
	margin: 0;
	padding: 0;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

html {
	height: 100%;
}

body{
    animation-name: slite;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
.box{
    height: 400px;
    width: 670px;
    display: flex;
    position: relative;
    left: 330px;
    top: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    align-items: center;
  background-color: rgba(0, 0, 0, 0.397);
 
}
@keyframes slite {
    0%{
        background-image: url(laptopm1.jpeg);
    }
    25%{
        background-image: url(laptop2.jpeg);
    }
    50%{
        background-image: url(laptop3.jpeg);
    }
    75%{
        background-image: url(laptop4.jpeg);
    }
    100%{
        background-image: url(laptop5.jpeg);
    }
}
/* #option{
    height: 30px;
    width: 210px;
    position: relative;
    top: 70px;
    left: 240px;
    border: 1px solid rgba(0, 0, 0, 0.319);
    background-color: rgba(240, 248, 255, 0); 
} */
/* #option1{
    height: 30px;
    width: 210px;
    position: relative;
    top: 130px;
    left: 28px;
    border: 1px solid rgba(0, 0, 0, 0.319);
    background-color: rgba(240, 248, 255, 0);
} */
/* #inp{
    position: relative;
    right: 240px;
    top: 90px;
} */
#one, #two{
    margin: 15px;
    height: 45px;
    width: 300px;
    position: relative;
    top: 60px;
    left: 170px;
    font-size: 18px;
  
  }
  #header-container {
    display: block;
  position: absolute;
    width: 320px;
  height: 55px;
    left: 50%;
    z-index: 4;

  top:30%;
    margin-left: -160px;
  margin-top: -87px;
}
#header-container1 {
	display: block;
  position: absolute;
	width: 320px;
  height: 55px;
	left: 50%;
    z-index: 4;
  top: 200px;
	margin-left: -160px;
  margin-top: -87px;
} 
.rem{
    position: relative;
    top: 130px;
    height: 40px;
    width: 120px;
    left: -70px;
    background-color: #2600fa;
    border: none;
    border-radius: 3px;
}
select {
	margin: 0 auto;
	color: #000000;
	background-color: #00000052;
    /* background: linear-gradient(rgba(0, 0, 0, 0.238), rgba(0, 0, 255, 0.46)); */
	width: 310px;
	padding: 15px;
    font-weight: bolder;
    z-index: 10;

	height: 25px;
	cursor: pointer;
	/* background: url(http://sharpik.com/wip/cuteselect/arrow.png) 295px 12px no-repeat white; */
}
select:hover {
	background-color: transparent;
	color: rgb(24, 59, 199);
    z-index: 10;
	padding: 15px 5px 15px 25px;
}

select option {
	background-color: rgb(8, 0, 255);
	color: rgb(0, 0, 0);
	width: 310px;
	padding: 10px 15px;
    z-index: 10;
	height: 20px;
	cursor: pointer;
}

select option:hover {
	padding-left: 25px;
	width: 270px;
    z-index: 10;

	color: #2600fa;
}


@media only screen and (max-width:600px) {
    @import url(https://fonts.googleapis.com/css?family=Raleway);

    * {
        margin: 0;
        padding: 0;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }
    
    html {
        height: 100%;
    }
    
    select:hover {
        background-color: transparent;
        color: rgb(24, 59, 199);
        padding: 15px 5px 15px 25px;
    }
    
    select option {
        background-color: rgb(21, 0, 255);
        color: rgb(0, 0, 0);
        width: 310px;
        padding: 10px 15px;
        height: 20px;
        cursor: pointer;
    }
    
    select option:hover {
        padding-left: 25px;
        width: 270px;
        color: #2600fa;
    }
    #option{
      z-index: -5;
    }
    .option{
      z-index: 10;
    }
    select {
        margin: 0 auto;
        color: #000000;
        background-color: #00000038;
        /* background: linear-gradient(rgba(0, 0, 0, 0.238), rgba(0, 0, 255, 0.46)); */
        width: 310px;
        padding: 15px;
        font-weight: bolder;
        height: 15px;
        cursor: pointer;
        
        /* background: url(http://sharpik.com/wip/cuteselect/arrow.png) 295px 12px no-repeat white; */
    }
    #header-container {
        display: block;
      position: absolute;
        width: 320px;
      height: 55px;
        left: 50%;
      top: 20%;
        margin-left: -160px;
      margin-top: -87px;
    }
    #header-container1 {
            display: block;
          position: absolute;
            width: 320px;
          height: 55px;
            left: 50%;
          top: 50%;
            margin-left: -160px;
          margin-top: -87px;
        
    }
    
    #one, #two{
        margin: 15px;
        height: 35px;
        width: 250px;
        position: relative;
        top: 70px;
        font-size: 15px;
      
      }
    /* #option{
        position: relative;
        left: 80px;
    } */
    /* #inp{
        position: relative;
        left: 75px;
        margin: 10px;
        top: 150px;
    } */
    /* #option1{
        height: 30px;
        width: 210px;
        position: relative;
        top: 130px;
        left: 130px;
        border: 1px solid rgba(0, 0, 0, 0.319);
        background-color: rgba(240, 248, 255, 0);
    } */
    .box{
        justify-content: center;
        backdrop-filter: blur(10px);
        position: relative;
        border-radius: 30px;
        left: 75px;
        width: 350px;
    } 
    @keyframes slite {
        0%{
            background-image: url(phone1.jpeg);
        }
        25%{
            background-image: url(phone2.jpeg);
        }
        50%{
            background-image: url(phone3.jpeg);
        }
        75%{
            background-image: url(phone4.jpeg);
        }
        100%{
            background-image: url(phone5.jpeg);
        }
    }
    
}