<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            width: 400px;
            height: 400px;
            display: none;
          
        }
        .one{
            background-color: red;
        }
        .two{
        background-color: blue;
        }
        .thr{
            background-color: aqua;
        }
     center{
        display: flex;
     }
    </style>
</head>
<body>
    <button id="on"> click to display 1</button> <br>
    <button id="tw"> click to display 2</button> <br>
    <button id="th"> click to display 3</button>
<center>
    <div class="one"> <h1>a</h1></div>
    <div class="two"> <h1>b</h1></div>
    <div class="thr"> <h1>c</h1></div>
</center>

</body>
<script>
    var one = document.getElementById('on'); //these are buttons
    var two = document.getElementById('tw');
    var thr = document.getElementById('th');
    var a = document.querySelector('.one'); //this is the div classed one
    var b = document.querySelector('.two'); //this is the div classed two
    var c = document.querySelector('.thr');  //this is the div classed thr
    const xi = ;
    const x = 4;
    // const x = 3
    // var x = 2



one.onclick = function  (){
    a.style.display = ('block')
    if (a.style.display == ('block')){
        b.style.display = ('none');
        c.style.display = ('none');
}
}
two.onclick = function  (){
    b.style.display = ('block')
    if (b.style.display == ('block')) {
        a.style.display = ('none');
        c.style.display = ('none');
}
}
thr.onclick = function  (){
    c.style.display = ('block')
    if (c.style.display == ('block')) {
        b.style.display = ('none');
        a.style.display = ('none')
}
}


 




</script>
</html> -->